[Desktop Entry]
Name=MyNewCoin GUI
GenericName=MyNewCoin-GUI
Comment=MyNewCoin GUI
Exec=monero-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getmonero.MyNewCoin
StartupNotify=true
